

<!-- <div class="row">
  <div class="side"> -->
    <!-- <p>
      user works!
    </p> -->
    <div>
      <button type="button" class="btn btn-success btn-block" routerLink="/subjects">nastavnik</button> <!--zamenjeno click go to path -->
      <br/>
      <button type="button" class="btn btn-success btn-block disabled" >učenik</button>
      <br/>
      <button type="button" class="btn btn-success btn-block disabled" >roditelj</button>
      <br/>
      <button type="button" class="btn btn-success btn-block">administrator</button>
    </div>

  <!-- </div>


</div> -->
