<p>
  subject works!
  <!-- {{selectedSubject.subject}} -->
</p>

<div>
  <button type="button" class="btn btn-success btn-block" href="location.href='subjects'"
   *ngFor="let subject of subjects" routerLink="/subject/{{subject.id}}">{{subject.subject}}</button> <!--(click)="goToPath"> zamenjeno -->
</div>
<div>
  <button type="button" class="btn btn-default btn-block" (click)="goBack()">◄◄◄ Nazad na korisnike</button>
</div>


<div class="main">
    <!-- <router-outlet name="subjectDetail"> -->
      <!-- {{subject.subject}}   ovo ne rad
    </router-outlet>  -->

</div>
