
<body>
  <div class="container">

    <div class="row">
      <div class="upside">
        <h1>logging</h1>
      </div>

      <div class="up">
        <p>predmeti</p>
      </div>
    </div>

    <div class="row">
      <div class="downside">
        <!-- <router-outlet></router-outlet> -->
        <router-outlet name="studentsList"></router-outlet>
      </div>

      <div class="main">
      </div>
    </div>

  </div>

</body>


<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
