<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="header">
</div>
<div class="container">
  <div class="row">
    <div class="side">
        <!-- <app-user></app-user> -->
        <!-- <app-subject></app-subject> -->
        <!-- <router-outlet name="usersList"></router-outlet>
        <router-outlet name="subjectsList"></router-outlet> -->
        <router-outlet></router-outlet>
        <!-- <app-grade></app-grade>
        <app-student></app-student> -->
    </div>
    <div class="main">
      <!-- <router-outlet name ="gradesList"></router-outlet> -->
    </div>
  </div>
</div>


<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->
